/* Palette */

// Navy Blue:
@navy-blue-100: #EBF4FF;
@navy-blue-200: #C3DAFE;
@navy-blue-300: #A3BFFA;
@navy-blue-400: #7F9CF5;
@navy-blue-500: #667EEA;
@navy-blue-600: #5A67D8;
@navy-blue-700: #4C51BF;
@navy-blue-800: #434190;
@navy-blue-900: #3C366B;

// Gold:
@gold-100: #FFFAEB;
@gold-200: #FCEFC7;
@gold-300: #F8E3A3;
@gold-400: #F9DA8B;
@gold-500: #F7D070;
@gold-600: #E9B949;
@gold-700: #C99A2E;
@gold-800: #A27C1A;
@gold-900: #7C5E10;

// Slate:
@slate-100: #E2E8F0;
@slate-200: #CBD5E1;
@slate-300: #A0AEC0;
@slate-400: #718096;
@slate-500: #4A5568;
@slate-600: #2D3748;
@slate-700: #1A202C;
@slate-800: #171923;
@slate-900: #0A0C10;

/* Theme Colors */
// base
@base: @navy-blue-600;
@base-secondary: @navy-blue-200;
@base-accent: @navy-blue-700;
@base2: @gold-600;
@base2-secondary: @gold-200;
@base2-accent: @gold-700;
// button
@button-primary: @base;
@button-primary-border: @base-accent;
@button-primary-hover: @base-accent;
@button-text: @navy-blue-100;
// header panel
@panel-base: white;
@panel-text: @slate-600;
// nav section
@nav-base: @navy-blue-100;
@nav-text: @slate-600;

/* Layout */
.page-header .panel.wrapper {
	& {
		background-color: @panel-base;
		color: @panel-text;
	}
	.panel.header {
		.header.links a {
			color: @panel-text;
		}
	}
}
.sections.nav-sections {
	background-color: @nav-base;
}
.navigation {
	& {
		background-color: transparent;
	}
	.level0 {
	  &.active {
		 > .level-top {
			border-color: @base;
			color: @nav-text;
		 }
	  }
	  > .level-top {
		 color: @nav-text;
	  }
	}
 }

.minicart-wrapper .action.showcart {
	&::before {
		color: @base2-accent;
	}

	&:hover::before {
		color: @base2-accent;
	}
}
.copyright {
	background-color: @base2;
}
.page-footer {
	& {
		background-color: @base2-secondary;
	}

	.action.subscribe {
		& {
			background-color: @base2;
			border-color: @base2-accent;
		}

		&:hover {
			background-color: @base2-accent;
		}
	}
}
.footer.content .links .nav.item a {
	color: @base2-accent;
}
/* Buttons */
.action,
.review-form .action.submit
{
	&.primary {
	  background-color: @button-primary;
	  border-color: @button-primary-border;
	  color: @button-text;
	  &:hover {
		 background-color: @button-primary-hover;
		 color: @button-text;
	  }
	}
}
 
.control {
	input,
	textarea
	{
		& {
			border-color: @base2-accent;
		}
		&:not([disabled]):focus {
			box-shadow: 0 0 3px 1px @base2-accent;
		}
	}
}
.main.column .section-header {
	color: white;
	text-align: center;
	font-size: 4em;
	width: fit-content;
	margin: 0 auto;
	background-color: #5A67D8;
	padding: 5px 10px;
}